<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
      <add key ="ConnectionString" value="mongodb+srv://carparkadmin:carparkadmin21@carparksystem.zpaoe.mongodb.net/carParkDB?retryWrites=true&#38;w=majority" />
      <add key="Database" value="carParkDB"></add>
  </appSettings>
</configuration>